.history/
.vscode/
jos/obj/
jos/jos.in
jos/jos.log
jos/jos.out
jos/jos.out.*
jos/jos.cmd
jos/.gdbinit
jos/wget.log
jos/qemu.pcap
jos/qemu.pcap.*
jos/qemu.out
jos/qemu.log
jos/gradelib.pyc
jos/lab*-handin.tar.gz
jos/lab?/
jos/sol?/
jos/myapi.key
jos/.suf
